spring:
  config:
    activate:
      on-profile: dev

  datasource:
    url: jdbc:postgresql://dev-db:5433/hibernate_dev
    username: dev_user
    password: dev_pass
    driver-class-name: org.postgresql.Driver

logging:
  level:
    root: INFO
