jwt:
  secret: mySecretKeyThatIsAtLeast256BitsLongForHS256Algorithm123456
  expiration: 3600000

spring:
  application:
    name: spring-core-epam

  datasource:
    url: jdbc:postgresql://localhost:5433/hibernate
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver


management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    health:
      show-details: always


  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        jdbc:
          time_zone: UTC

data:
  trainers:
    path: data/trainers.json
  trainees:
    path: data/trainees.json
  trainings:
    path: data/trainings.json