spring:
  config:
    activate:
      on-profile: prod

  datasource:
    url: jdbc:postgresql://prod-db:5432/gym_prod
    username: prod_user
    password: prod_pass
    driver-class-name: org.postgresql.Driver

logging:
  level:
    root: WARN

management:
  endpoints:
    web:
      exposure:
        include: health,info
