app:
  name: spring-core-epam
  security:
    jwt-secret: mySecretKeyThatIsAtLeast256BitsLongForHS256Algorithm123456
    jwt-expiration: 3600000
  data:
    trainers:
      path: data/trainers.json
    trainees:
      path: data/trainees.json
    trainings:
      path: data/trainings.json
  cors:
    allowed-origins:
      - http://localhost:3000
      - http://localhost:4200
    allowed-methods:
      - GET
      - POST
      - PUT
      - DELETE
      - PATCH
      - OPTIONS
    allowed-headers:
      - "*"
    exposed-headers:
      - Authorization
    allow-credentials: true
    max-age: 3600


spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/hibernate
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        jdbc:
          time_zone: UTC

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    health:
      show-details: always